:root {
  --color-brand--1: #ff6978;
  --color-brand--2: #0fa3b1;
  --color-dark--1: #111344;
  --color-dark--2: #372549;
  --color-light--1: #ffffff;
  --color-light--2: #fffcf9;
  --color-light--3: #b1ede8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 48%;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  overscroll-behavior-y: none;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}

.container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100vw;
  height: 100svh;
  padding: 1.5rem;
  margin: auto;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0;
    border-radius: 0px;
  }
}

/* WORKOUT LIST */
.list {
  background-color: var(--color-dark--1);
  width: 93vw;
  max-height: 90vh;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  z-index: 20;
  border: 1px solid var(--color-brand--2);
}

.list--hidden {
  visibility: hidden;
}

.list-header {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 4.2rem;
  margin-left: 4rem;
  display: inline-block;
}

.close {
  height: 2.6rem;
  margin-bottom: 4.5rem;
  opacity: 0.7;
  cursor: pointer;
}

.close:hover {
  opacity: 1;
}

.workouts {
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.workouts::-webkit-scrollbar {
  width: 0;
}

.workout,
.controls {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.75rem 1.5rem;
}

.workout,
.workout span {
  cursor: pointer;
}

.controls {
  /* grid-template-columns: 1fr !important; */
  background-color: unset;
  margin: 0;
  padding-right: 0;
  padding-left: 0;
}

.controls div {
  cursor: pointer;
  text-align: center;
  font-size: 1.4rem;
}

.controls--deleteAll {
  color: var(--color-brand--1);
  opacity: 0.85;
  font-weight: 600;
  letter-spacing: 1px;
}

.controls--deleteAll__title {
  padding: 0.4rem 1rem;
  border: 1px solid var(--color-brand--1);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls--deleteAll:hover {
  opacity: 1;
}

.controls--sort__title,
.controls--filter__title {
  /* border: 1px solid var(--color-brand--2); */
  padding: 0.4rem 1.4rem;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.controls--sort__icon,
.controls--filter__icon {
  height: 1.5rem;
}

.controls--sort__icon {
  transform: translateY(0.2rem);
}

.controls--sort,
.controls--filter {
  position: relative;
}

.controls--sort__list,
.controls--filter__list {
  list-style: none;
  position: absolute;
  border-radius: 4px;
  background-color: var(--color-light--2);
  color: rgba(0, 0, 0, 0.7);
  padding: 0 2rem;
  z-index: 100;
  border: 1px solid var(--color-brand--1);
  text-transform: capitalize;
}

.controls--sort__item:not(:last-child),
.controls--filter__item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.controls--sort__item:hover,
.controls--filter__item:hover {
  opacity: 0.7;
}

.controls--sort__list {
  right: -30%;
  top: -100%;
}
.controls--filter__list {
  left: 0%;
  top: -260%;
}

.workouts {
  width: 100% !important;
  grid-template-columns: 1fr 1fr !important;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  background-color: unset;
  cursor: auto;
  width: fit-content;
  margin-left: auto;
}

.controls--detail {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.1s;
}
.controls--detail:hover {
  opacity: 1;
}
.workout--running {
  border-left: 5px solid var(--color-brand--2);
}
.workout--cycling {
  border-left: 5px solid var(--color-brand--1);
}

.workout__title {
  font-size: 1.7rem;
  font-weight: 600;
  grid-column: 1 / -1;
}

.workout__details {
  display: flex;
  align-items: baseline;
}

.workout__icon {
  font-size: 1.5rem;
  margin-right: 0.2rem;
  height: 0.5rem;
}

.workout__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.workout__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
}
.workout__delete,
.workout__edit {
  opacity: 0.8;
  transition: color 0.2s, opacity 0.2s;
  color: var(--color-brand--1);
}
.workout__delete:hover,
.workout__edit:hover {
  opacity: 1;
}

.edit-input {
  width: 60%;
  margin-right: 0.5rem;
  font-size: 1.2rem;
  padding: 0.3rem;
  border-radius: 6px;
  border: unset;
  outline: unset;
}
.edit-input::placeholder {
  color: #cecece;
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;

  /* Match height and activity boxes */
  height: 9.25rem;
  transition: all 0.5s, transform 1ms;
}

.form > p {
  align-content: center;
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row--hidden {
  display: none;
}

.form__label {
  flex: 0 0 40%;
  font-size: 1.5rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding: 0.3rem 0.8rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

@media only screen and (max-width: 768px) {
  .form {
    padding: 0.3rem;
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

.form__btn {
  display: none;
}

.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
}

.twitter-link:link,
.twitter-link:visited {
  color: var(--color-light--1);
  transition: all 0.2s;
}

.twitter-link:hover,
.twitter-link:active {
  color: var(--color-light--2);
}

/* MAP */
#map {
  width: 100%;
  height: 100svh;
  background-color: var(--color-light--1);
  z-index: 10;
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--3);
  border-radius: 5px;
  padding-right: 0.6rem;
  border: 1px solid var(--color-light--3);
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
  margin: 2rem;
  text-wrap: nowrap;
  width: max-content !important;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--1);
}

.show-workouts {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

.show-workouts.hidden {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.show-workouts-btn {
  width: 6rem;
  height: 6rem;
  border-radius: 100px;
  margin: 0 1rem;
  text-align: center;
  align-content: center;
  font-size: 2rem;
  background-color: var(--color-dark--1);
  cursor: pointer;
  transition: all 0.3s;
  border: 4px solid var(--color-light--3);
}

.show-workouts-btn:hover {
  background-color: var(--color-dark--2);
}

.helper-msg__new-workout {
  font-size: 2rem;
}

@media (min-width: 425px) {
  html {
    font-size: 52%;
  }
  .list {
    width: 80%;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 65%;
  }
  .list {
    width: 60%;
  }
}

.use-location-btn {
  all: unset;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  background-color: var(--color-brand--2);
  color: var(--color-dark--2);
  z-index: 20;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s;
}

.use-location-btn:hover {
  background-color: var(--color-dark--1);
  color: var(--color-light--3);
}

.use-location-btn:active {
  outline: 2px solid var(--color-brand--2);
  outline-offset: 2px;
}

@media only screen and (min-width: 768px) {
  .use-location-btn {
    font-size: 16px;
  }
}

.confirmation-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: fit-content;
  border-radius: 12px;
  border: 2px solid var(--color-brand--1);
  padding: 2rem;
  background-color: #fff;
  color: var(--color-dark--2);
  z-index: 150;
  text-align: center;
}

.confirmation-modal_title {
  font-size: 16px;
  margin-bottom: 4rem;
}

.confirmation-modal_btns-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.confirmation-modal_btn {
  all: unset;
  flex: 1;
  font-size: 16px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.confirm-no {
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.7);
}

.confirm-yes {
  background-color: var(--color-brand--1);
  border: 1px solid red;
  color: var(--color-light--1);
}

@media only screen and (min-width: 768px) {
  .confirmation-modal {
    width: 40%;
  }
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100svw;
  height: 100svh;
  z-index: 140;
  background-color: rgba(0, 0, 0, 0.4);
}

.hidden {
  display: none;
  opacity: 0;
}
